<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GC.Properties.Settings.gestion_clientsConnectionString"
            connectionString="Data Source=DESKTOP-P13SUTM\MYDATABASE;Initial Catalog=gestion_clients;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>